<div ng-controller="tabsCtrl as ctrl">
	<!--  details.html -->
	<ul class="nav nav-tabs">
		<li ng-class="{active: ctrl.isTab(1)}">
				<a href="" ng-click="ctrl.setTab(1)">Details</a></li>
		<li ng-class="{active: ctrl.isTab(2)}">
				<a href="" ng-click="ctrl.setTab(2)">Reviews</a></li>
		<li ng-class="{active: ctrl.isTab(3)}">
			<a href="" ng-click="ctrl.setTab(3)">New Review</a></li>
	</ul>
	<div ng-show="ctrl.isTab(1)">
		<h3>Details</h3>
		<strong>{{ Product.Name }}</strong>
		<img ng-src="app/images/{{ Product.Image }}"
			 height="150" class="thumbnail" />
		<blockquote>
			{{ Product.Description }}
			{{ Product.Price | currency}}
		</blockquote>
	</div>
	<div  ng-show="ctrl.isTab(2)">
		<h3>Reviews</h3>
		<div hm-list="Product.Reviews" listfield="Comments"></div>
		<!-- <ul class="list-group">
			<li class="list-group-item"
				ng-repeat="R in Product.Reviews">
				<span class="badge">{{ R.Rating }}</span>
				<h4>{{ R.Comments }} &mdash;<small>{{ R.By }}</small></h4>
			</li>
		</ul> -->
	</div>
	<div ng-show="ctrl.isTab(3)" ng-controller="reviewsCtrl">
		<h3>New Review</h3>
		<form name="reviewForm" novalidate ng-submit="save()">
		<!-- Rating -->
			<div class="form-group">
				<select class="form-control" required 
					ng-model="review.Rating"
					ng-options="rating for rating in [5,4,3,2,1]">
					<option value="">Select your rating...</option>
				</select>
			</div>
		<!-- By -->
			<div class="form-group">
				<input type="email" required ng-model="review.By" 
					placeholder="abc.@hm.com" class="form-control" />
			</div>
		<!-- Comments -->
			<div class="form-group">
				<textarea class="form-control" required
					ng-maxlength="250" ng-minlength="10"
					ng-model="review.Comments" name="tCom"
					placeholder="your comments here"></textarea>
					<div ng-messages="reviewForm.tCom.$error" 
								class="alert-warning">
						<div ng-message="required">Please provide your Comments</div>
						<div ng-message="minlength">Please be generous (min. 10 chrs)</div>
						<div ng-message="maxlength">You are too generous (max. 250 chrs)</div>
					</div>
			</div>
			<button class="btn btn-success btn-sm" type="submit"
				ng-disabled="reviewForm.$invalid">
				Save</button>
		</form>
		<div class="well">
			<strong>Is data valid: {{ reviewForm.$valid }}</strong>
		</div>
	</div>
</div>